<form [formGroup]="leaveForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>{{ 'i18n.LeaveUpdateFormDialogComponent.title' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div class="row" *ngIf="users$ | async as users">
        <div class="col">
          {{ 'i18n.LeaveUpdateFormDialogComponent.user' | translate }}: {{ data.updatedLeave.userId | userId:users }}
        </div>
      </div>

      <div class="row">
        <div class="col">
          <app-date-range-filter [mandatory]="true" (selectedDate)="updateDateRange($event)"
                                 [minDate]="minDate" [maxDate]="maxDate"
                                 [startDate]="range.startDate" [endDate]="range.endDate">
          </app-date-range-filter>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-slide-toggle formControlName="fullDayAtStart">
            {{ 'i18n.LeaveUpdateFormDialogComponent.fullDayAtStart' | translate }}</mat-slide-toggle>
        </div>
        <div class="col">
          <mat-slide-toggle formControlName="fullDayAtEnd">
            {{ 'i18n.LeaveUpdateFormDialogComponent.fullDayAtEnd' | translate }}
          </mat-slide-toggle>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="{{ 'i18n.LeaveUpdateFormDialogComponent.leaveType' | translate }}"
                        formControlName="leaveType" required>
              <mat-option *ngFor="let leaveType of leaveTypes" [value]="leaveType">
                {{ 'i18n.LeaveType.' + leaveType | translate }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="leaveForm.controls['leaveType'].hasError('required')">
              {{ 'i18n.LeaveUpdateFormDialogComponent.leaveTypeRequired' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>{{ 'i18n.LeaveUpdateFormDialogComponent.comment' | translate }}</mat-label>
            <textarea matInput cdkTextareaAutosize formControlName="comment"></textarea>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!leaveForm.valid">
        {{ 'i18n.LeaveUpdateFormDialogComponent.submit' | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
</form>
