<mat-toolbar color="primary" *ngIf="currentUser$ | async as user">
  <ng-container>
    <mat-toolbar-row>
      <div class="col">
        <h1>Days Off</h1>
        <span class="menu-spacer"></span>
        <mat-icon>today</mat-icon>
      </div>

      <div class="col">
        <h3>| {{ user | user }} |</h3>
        <span class="menu-spacer"></span>
      </div>

      <div class="col">
        <a mat-button [routerLink]="'/'"> Calendrier </a>
      </div>
      <div class="col">
        <a mat-button [routerLink]="'/leaves'"> Demandes </a>
      </div>
      <div class="col">
        <a mat-button [routerLink]="'/balances'"> Soldes </a>
      </div>
      <div class="col" *ngIf="isShowUserMenu(user)">
        <a mat-button [routerLink]="'/users'"> Utilisateurs </a>
      </div>
      <div class="col" *ngIf="isShowTeamMenu(user)">
        <a mat-button [routerLink]="'/teams'"> Équipes </a>
      </div>
      <div class="col">
        <a mat-button (click)="logout()" matTooltip="Déconnexion">
          <mat-icon>logout</mat-icon>
        </a>
      </div>
    </mat-toolbar-row>
  </ng-container>
</mat-toolbar>
