<form [formGroup]="leaveForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>{{ 'i18n.LeaveStatusFormDialogComponent.TO_' + data.targetStatus | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>{{ 'i18n.LeaveStatusFormDialogComponent.comment' | translate }}</mat-label>
            <textarea matInput cdkTextareaAutosize formControlName="comment" maxlength="150"></textarea>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!leaveForm.valid">
        {{ 'i18n.LeaveStatusFormDialogComponent.submit' | translate }}</button>
    </mat-card-actions>
  </mat-card>
</form>
