<div class="container">

  <mat-card>

    <mat-card-content>
      <div>
        <mat-icon color="primary" class="placeHolderIcon">today</mat-icon>
      </div>
      <h1>Days Off</h1>
      <h2>{{ 'i18n.LoginComponent.title' | translate }}</h2>
      <div>

        <form [formGroup]="form">
          <mat-error *ngIf="loginInvalid">
            The username and password were not recognized
          </mat-error>
          <mat-form-field class="full-width-input" appearance="fill">
            <input matInput placeholder="{{ 'i18n.LoginComponent.emailPlaceHolder' | translate }}"
                   formControlName="username" required>
            <mat-error>
              {{ 'i18n.LoginComponent.badEmail' | translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input" appearance="fill">
            <input matInput [type]="hide ? 'password' : 'text'"
                   placeholder="{{ 'i18n.LoginComponent.passwordPlaceHolder' | translate }}" formControlName="password"
                   required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error>
              {{ 'i18n.LoginComponent.badPassword' | translate }}
            </mat-error>
          </mat-form-field>
          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="onSubmit()">
              {{ 'i18n.LoginComponent.login' | translate }}
            </button>
          </mat-card-actions>

        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
